*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
serviceAccountKey.json
node_modules/
.firebase/

functions/

# IDE
.idea/

# Logs
*.log

# Node
package.json
package-lock.json

# Firebase config

# Dumps & Temp
*.py
/scripts/
extracted_strings.json
firestore_export.json
main_database.json
mock_data_extracted.json
app/src/main/assets/firestore_export.json